<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered">
    <div class="head">
      <ion-list>
        <ion-item>
          <ion-label>เพศ</ion-label>
          <ion-label floating>{{gender}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ไขมันในร่างกาย</ion-label>
          <ion-label floating>{{bfc}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>อยู่ในเกณฑ์</ion-label>
          <ion-label floating>{{fatdesc}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>อัตราการเผาผลาญพลังงาน</ion-label>
          <ion-label floating>{{burns}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ดัชนีมวลกาย </ion-label>
          <ion-label floating>{{bmi}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>อยู่ในเกณฑ์</ion-label>
          <ion-label floating>{{bmitext}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ภาวะเสี่ยงโรค</ion-label>
          <ion-label floating>{{bmistatustext}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>น้ำหนักที่เหมาะสม</ion-label>
          <ion-label floating>{{ibm}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>แคลอรี่เหมาะสมต่อวัน</ion-label>
          <ion-label floating>{{cal}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <ion-button expand="block" color="danger" (click)="delete()">ลบข้อมูล</ion-button>
  </div>
</ion-content>