<ion-content>
  <div class="centered">
    <div class="head">
      <ion-icon class="size" name="contact">
      </ion-icon>
      <div class="head">
      <ion-item>
        <ion-label floating >รูปโปรไฟล์</ion-label>
        <ion-input type="file" [id]="pic"></ion-input>
      </ion-item>
      </div>
      <ion-list>

        <ion-item>
          <ion-label floating>ชื่อ</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>อายุ</ion-label>
          <ion-input type="number" [(ngModel)]="age"></ion-input>ปี
        </ion-item>

        <ion-item>
            <ion-label>เพศ</ion-label>
            <ion-select placeholder="เลือก">
              <ion-select-option value="f">หญิง</ion-select-option>
              <ion-select-option value="m">ชาย</ion-select-option>
            </ion-select>
          </ion-item>

        <ion-item>
          <ion-label floating>น้ำหนัก</ion-label>
          <ion-input type="number" [(ngModel)]="weight"></ion-input>กก.
        </ion-item>
        <ion-item>
          <ion-label floating>ส่วนสูง</ion-label>
          <ion-input type="number" [(ngModel)]="height"></ion-input>ซม.
        </ion-item>

        <ion-button expand="block">ตั้งค่าโปรไฟล์</ion-button>
      </ion-list>
    </div>
    </div>
    
</ion-content>
