<ion-content>
  <div class="centered">
    <div class="head">
      <ion-list>

        <ion-item>
          <ion-label floating>อายุ</ion-label>
          <ion-input type="number" [(ngModel)]="age"></ion-input>ปี
        </ion-item>

        <ion-item>
          <ion-label>เพศ</ion-label>
          <ion-select placeholder="เลือก" interface="popover"  (ionChange)="onChange($event)">
            <ion-select-option value="f">หญิง</ion-select-option>
            <ion-select-option value="m">ชาย</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>น้ำหนัก</ion-label>
          <ion-input type="number" [(ngModel)]="weight"></ion-input>กก.
        </ion-item>
        <ion-item>
          <ion-label floating>ส่วนสูง</ion-label>
          <ion-input type="number" [(ngModel)]="height"></ion-input>ซม.
        </ion-item>

        <ion-button expand="block">ตั้งค่าโปรไฟล์</ion-button>
      </ion-list>
    </div>
  </div>

</ion-content>